body {
    background-image: url("images/background.jpg") ;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	font-family: 'Righteous', cursive;
	text-align: center;
}

#modal {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color:aquamarine;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
    line-height: 120%;
    overflow: scroll;
    text-align: center;
}

#modal-footer {
	text-align: right;
}

h1 {
    padding: 15px;
    color: aquamarine;
	background-color: rgb(142, 149, 149);
}

.modal-buttons {
	padding: 14px 18px;
	background: #677996;
	border: none;
	outline: none;
	border-radius: 15px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

dt {
    font-weight: 800;
}

dd {
	text-align: center;
	margin-inline-start: 0px;
}